
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
<div class="container">
    <div class="content">
        <h2>Welcome to our Library!</h2>
        <p>Explore our collection of books and sign in or sign up to access additional features.</p>
    </div>
</div>

</body>
</html>
