<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <link rel="stylesheet" type="text/css" href="/static/css/issue-book.css">
</head>
<body>
<div class="body"></div>
<div class="table-title">
  <h3 style="font-family: 'Exo', sans-serif">Issue Book</h3>
  <form action="/book_issue_return" id="issue" method="post">
    <input type="text" placeholder="User-Name" name="username">
    <input type="text" placeholder="Serial-No." name="serialno">
    <button type="submit" form="issue" id="iss" name="Submit" value="Issue">Issue Book</button>
    <button type="submit" form="issue" id="iss" name="Submit" value="Return">Return Book</button>
    <a href="/admin"><button type="button" id="iss">Cancel</button></a>
  </form>
  <br><br>
  <form id="search" method="post">
    <input type="text" placeholder="Search For Book" name="search" id="book">
    <button type="submit">Search Book</button>
  </form>
</div>
<table class="table-fill">
<thead>
{% if query == "user" %}
<tr>
<th class="text-left">Name</th>
<th class="text-left">Number</th>
<th class="text-left">E-mail</th>
<th class="text-left" colspan="3">Books</th>
</tr>
</thead>
<tbody class="table-hover">
{% for user in users %}
<tr>
<td class="text-left">{{ user.name }}</td>
<td class="text-left">{{ user.number }}</td>
<td class="text-left">{{ user.email }}</td>
<td class="text-left" colspan="3">
{% for book in books %}
<ul>
<li>NAME: {{ book.name }}</li>
<li>Issued On: {{ book.issued_on.date() }}</li>
<li>To Be Returned On: {{ book.to_be_returned.date() }}</li>
<li>Serial No.: {{ user.books }}</li>
</ul>
<br>
<br>
{% endfor %}
</td>
</tr>
{% endfor %}
{% else %}
<tr>
<th class="text-left">Name</th>
<th class="text-left">Author</th>
<th class="text-left">Quantity</th>
<th class="text-left">Section</th>
<th class="text-left">Serial No.</th>
</tr>
</thead>
<tbody class="table-hover">
{% for book in books %}
<tr>
<td class="text-left">{{ book.name }}</td>
<td class="text-left">{{ book.author }}</td>
<td class="text-left">{{ book.quantity }}</td>
<td class="text-left">{{ book.section }}</td>
<td class="text-left">{{ book.serialno }}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
<div class="footer">
  <div class="name">
    <div>Copyright &copy; <span>Raja</span></div>
  </div>
</div>
</body>
</html>
